.form {
  width: 100%;
  height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  padding: 45px 65px;
  background: linear-gradient(to right, #8300cd, #b800c4);

}
.form__box {
	width: 700px;
	height: 500px;
	/* margin: auto; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #fff;
	border-radius: 40px;

}
.form__left {
	width: 50%;
		 
}
.form__padding {
	width: 210px;
	height: 210px;
	background: #f2f2f2;
	border-radius: 50%;
	margin: 0 auto;
	line-height: 210px;
	position: relative;
}
.form__image {
	max-width: 100%;
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.form__right {
	line-height: 26px;
	width: 50%;
}
.form__padding-right {
	padding: 0 25px;
}
.btn {
	cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
	color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}
.btn:hover {
	color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}
.btn-span {
	margin-left: 10px;
}